[Desktop Entry]
Name=OggConvert
Comment=Convert media files to Free formats
Type=Application
Exec=oggconvert
Categories=AudioVideo;
Terminal=false
StartupNotify=false
