[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OggConvert
Comment=Convert media files to Free formats
Type=Application
Exec=oggconvert
Icon=oggconvert
Categories=AudioVideo;
Terminal=false
StartupNotify=false
GenericName[en_GB]=
